streamlit
streamlit-antd-components
streamlit-autorefresh
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-anthropic
langchain-huggingface
pypdf
pdfplumber
python-docx
openpyxl
pandas
python-dotenv
sentence-transformers
chromadb
torchvision
requests
tenacity
duckduckgo-search
bcrypt
pytest
